{{ define "index" }}
<html>
    <head>
        <title>rt-demo</title>
        <script type="text/javascript" src="www/lib/js/rt-demo.js"></script> 

    </head>
    <body>
        <h2>Enter to calculate nth Fibonacci number.</h2>
        <input id="t_fib_in" type="text"/> 
        <input id="b_fib_sub" type="button" value="submit" onclick="RTDEMO.submit();"/>
        <div id="ret_block">

        </div>
    </body>
</html>
{{ end }}
